.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 700px;
    margin: 50px auto;
    gap: 2rem;
}

.card{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.card h2{
    padding: 10px;
    background: #eeee;
}

.card h4{
    padding: 10px;
}