*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-weight: 550;
}

img{
    width: 600px;
    height: 400px;
}

body{
    width: 100vw;
    height: 100vh;
    align-content: center;
}
