.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    align-content: center;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.modal{
    background-color: #fff;
    width: 400px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}   

.modal-header{
    font-size: 2rem;
    font-weight: 550;
    width: 100%;
    text-align: end;
}

.modal-header p{
    cursor: pointer;
}

.modal-header p{
    padding: 0px 10px 10px 0px;
}

.modal-body{
    align-self: flex-start;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    text-align: start;
}

.modal-footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.btn-container{
    display: flex;
    gap: 2rem;
}

.btn-cancel{
    color: #fff;
    background-color: #ff0000;
}

.btn-submit{
    color: #fff;
    background-color: #00dd0b;
}

.btn{
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 550;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: none;
}

.btn:hover{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.2s ease all;
}

hr{
    width: 100%;
}