*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  align-content: center;
  background: linear-gradient(180deg,#40c3ff,#0746ce);
}

h1{
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 20px;
  color: #fff;
}

.container{
    width: 350px;
    margin: 50px auto;
    text-align: center;
    font-family: sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

input{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #999;
    margin-bottom: 20px;
}

.buttonContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    background-color: #e9e9e9;
}

button:hover{
  background-color: #006eff;
  color: #fff;
  transition: 0.2s ease all;
}