.carousel{
    position: relative;
    display: flex;
    width: 600px;
    height: 400px;
    margin: 0px auto;
}

.slide{
    border-radius: 0.5rem;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    width: 600px;
    height: 400px;
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #000;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.left{
    left: -3rem;
}

.right{
    right: -3rem;
}

.indicators{
    position: absolute;
    display: flex;
    gap: 0.5rem;
    bottom: 1rem;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    left: 50%;
    background: transparent;
    transform: translateX(-50%);
}

.indicator{
    width: 10px;
    height: 10px;
    background: #fff ;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);
    border-radius: 50%;
    cursor: pointer;
}

.slide-hidden{
    display: none;
}

.indicator-inactive{
    background-color: gray;
}

@media (max-width:700px) {
    .left{
        left: 1rem;
    }
    .right{
        right: 1rem;
    }
    .carousel, .slide{
        width: 90vw;
        height: 65vw;
    }
    .indicators{
        display: none;
    }
}
